:root {
    --main-color: #263238;
    --main-background: #ffffff;
    --title-cl: #000000;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background);

}
h1,h2,h3,h4,h5,p,ul {
    margin-top: 0;
    margin-bottom: 0;

}
h1,h2,h3,h4,h5 {
    color: var(--title-cl);

}
img {
    display: block;
}
a:active, a:focus { outline: none; }
:focus {outline:none;}

a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    
    width: 1338px;
    margin: 0 auto;
   outline: 1px solid crimson;
}
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 236px;

}
.header-list {
    display: flex;
   
}
.header-item {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-color);
    padding: 75px 0;

}
.btn {
    margin: 0;

}
.btn-header {
    font-family: inherit;
    margin-left: auto;
    min-width: 200px;
    min-height: 30px;
    padding: 20px 56px;
    border: 2px solid #263238;
    border-radius: 10px;

}
.header-item:not(:last-child) {
    margin-right: 50px;

}
.header-item {

}