:root {
    --main-color: #263238;
    --main-background: #ffffff;
    --title-cl: #000000;
    --logo1-cl:  #939393;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    background-color: var(--main-background);

}
h1,h2,h3,h4,h5,p,ul {
    margin: 0;

}
h1,h2,h3,h4,h5 {
    color: var(--title-cl);

}
img {
    display: block;
}
a:active, a:focus { outline: none; }
:focus {outline:none;}

a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style: none;
}
.container {
    
    width: 1338px;
    margin: 0 auto;
   outline: 1px solid crimson;
}
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 236px;
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;  
    color: var(--title-cl);

}
.logo1 {
    color: var(--logo1-cl);

}
.header-container {
    position: relative;
}
.britlex-two {

}
.switch {
    position: absolute;
    left: 50px;
    top: 20px;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    border-radius: 2px;
    transition: border 250ms var(--cubic);
}
.header-list {
    display: flex;
   
}
.header-item {
    padding: 75px 0;

}
.header-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-color);
    padding: 75px 0;
}

.btn {
    display: inline-block;
    font-family: inherit;
    margin: 0;
    cursor: pointer;

}
.btn-header {
    
    color: var(--title-cl);
    background-color: var(--main-background);
    margin-left: auto;
    min-width: 200px;
    min-height: 30px;
    padding: 20px 56px;
    border: 2px solid #263238;
    border-radius: 10px;

}
.header-item:not(:last-child) {
    margin-right: 50px;

}

.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;    
}

/*hero*/
.hero {
    margin-bottom: 180px;
}
.hero-container {
    display: flex;
    justify-content: space-between;
}
.hero-aside {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 540px;

}
.hero-title {
    display: block;
    width: 386px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;  
    margin-bottom: 40px;
}
.hero-title-two {
    display: block;
    width: 386px;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;  
    margin-bottom: 40px;    
}

.hero-description {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #8F95A5;    
}
.btn-hero {
    color: #ffffff;
    background-color: #263238;
    width: 426px;
    min-height: 100px;
    padding: 23px 64px;
    border-radius: 10px;

    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.03em;
      
}
.grid-hero {
    position: relative;
    display: grid;

    grid-template-columns: 1fr 1fr;
  
  
}
.hero-grid {
    outline: 1px solid blue;

}

.lamp {
    position: absolute;
    left: 425px;
    top: 100px;
    scale: 1.5;
}
.lamp-two {
    position: absolute;
    rotate: 38deg;
    left: 425px;
    top: 120px;
    scale: 1.2;
    fill: crimson;

}
.section-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;    
}
.main-picture {
    
}
/*skills*/
.skills {
    margin-bottom: 180px;
}
.grid-skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}
.skills-title {
   
    width: 100px;
    margin: 0 auto 60px;

    font-weight: 600;
    font-size: 48px;
    line-height: 72px;    
}
.skills-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.skills-item h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 20px;    
}
.skills-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 350px;
    margin: 20px 0 30px;
    color: #8F95A5;    
}
.skills-item {
    display: block;
    width: 426px;
   
    border-radius: 10px;
    background-color: #f5f5f5;
    padding-left: 18px;
}
.speaking {
    margin: 32px auto 24px;
}

.more {

    color: #ffffff;
    background-color: #263238;
    width: 230px;
    height: 60px;
    padding: 23px 64px;
    border-radius: 10px;
    
}
.item-speaking {

    padding-bottom: 154px;
}
.item-w-r {
    height:  579px;

}
.item-listening {
    position: absolute;
    bottom: 0;
    right: 0;
  

    display: flex;
    justify-content: space-between;
    width: 882px;
    height: 338px;
    margin-left: auto;
    padding-right: 20px;
    

}
/*about-*/
.about {
    margin-bottom: 180px;
    
    
}
.about-container {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}
.about-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;        
}
.about-description {
    width: 650px;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin: 60px 0 30px;
    color: #8F95A5;    
}
.about-list {
    display: flex;
    justify-content: space-around;
    width: 650px;
}
.about-list p {
    
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #8F95A5;    
}
.about-list .numbers {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;  
    
    color: #2A3246;    
}
/*pricing*/
.pricing {
    margin-bottom: 180px;
}
.pricing-container {
   display: flex;
   align-content: space-between;
}
.pricing-title {
    margin: 0 auto 60px;
    width: 200px;

    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;    
}
.pricing-list {
    display: flex;
    gap: 30px;
    
}

.pricing-item h3 {
    margin: 30px 0 20px;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    text-transform: capitalize;
    
    color: #263238;    
}
.pricing-item p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #8F95A5;
}
.price {
    display: flex;
    align-content: center;
    justify-content: space-around;
    gap: 28px;
    background: #EEEEEE;
    border-radius: 5px;
    width: 260px;
    height: 45px;
   
    outline: 1px solid #000;
}
.price .price-value {
    display: flex;
    margin: 0;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    
    color: #263238;
}
.price .permonth {
    display: flex;
    margin: 0;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    
    color: #546269;    
}
.pricing-item>img[alt="lesson"] ~ p,
.pricing-item>img[alt="webinar"] ~ p {
    margin-bottom: 60px;
}

/*contact*/
.contact-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
    margin-bottom: 60px;
    
}
.contact-description {
    width: 650px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #8F95A5;    
}
.subscribe {
    color: #ffffff;
    background-color: #263238;
    width: 312px;
    height: 70px;
    padding: 23px 64px;
    border-radius: 10px;
    margin-top: 30px;

}
.contact-container {
    display: flex;
    flex-direction: row-reverse;
}
.plane-boy {
    margin-right: 140px;
    margin-left: 0;
}
.contact-content {
    margin-right: 120px;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.footer-list {
    display: flex;
    gap: 80px;
}
.footer-item {
    padding: 31px 0 86px;
}
.footer-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;
    padding: 31px 0 86px;
    
    color: #8F95A5;    
}